#adminmenu #toplevel_page_sugar-calendar ul li a::after {
  content: none !important;
}
#adminmenu #toplevel_page_sugar-calendar ul li a[href*=upgrade] {
  background-color: #008a20;
  color: #fff;
}
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImFzc2V0cy9zY3NzL2FkbWluLW1lbnUuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFLSztFQUNDOztBQUdEO0VBQ0M7RUFDQSIsImZpbGUiOiJhc3NldHMvY3NzL2FkbWluLW1lbnUuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiI2FkbWlubWVudSB7XG5cdCN0b3BsZXZlbF9wYWdlX3N1Z2FyLWNhbGVuZGFyIHtcblx0XHR1bCB7XG5cdFx0XHRsaSB7XG5cdFx0XHRcdGEge1xuXHRcdFx0XHRcdCY6OmFmdGVyIHtcblx0XHRcdFx0XHRcdGNvbnRlbnQ6IG5vbmUgIWltcG9ydGFudDtcblx0XHRcdFx0XHR9XG5cblx0XHRcdFx0XHQmW2hyZWYqPXVwZ3JhZGVdIHtcblx0XHRcdFx0XHRcdGJhY2tncm91bmQtY29sb3I6ICMwMDhhMjA7XG5cdFx0XHRcdFx0XHRjb2xvcjogI2ZmZjtcblx0XHRcdFx0XHR9XG5cdFx0XHRcdH1cblx0XHRcdH1cblx0XHR9XG5cdH1cbn1cbiJdfQ== */
