@use "../../../../../scss/admin/variables";

.field {
	display: flex;
	flex-direction: column;
	gap: variables.$spacing-sm;

	p {
		font-size: 14px !important;
		line-height: 34px !important;
		margin: 0 !important;
	}
}
